<%- include("partials/header.ejs") %>

<div class="stats">
  <p>
    Books reviewed:
  </p>
  <div class="posted-notes">
    <div>
      <span><%= bookCountYear %></span>
      <p>
          THIS YEAR
      </p>
    </div>
    
    <div>
      <span><%= bookCountTotal %></span>
      <p>
        TOTAL
      </p>
    </div>
  </div>
</div>

<main>
  <div class="entries-flex">
    <div class="buttons-flex">
      <div>
        <a href="/add-entry">New Entry <span class="material-icons-round">add</span></a>
      </div>

      <div>
        <form action="/sort" method="POST">
          <!-- <label for="sortBy">Sort by:</label> -->
          <span class="material-icons-sharp">sort_by_alpha</span>
          <select name="sortBy" id="sortBy" onclick="submitIfOptionChosen(this)">
            <option value="" disabled selected>Sort</option>
            <option value="reviews.date_created DESC">Newest</option>
            <option value="reviews.date_created ASC">Oldest</option>
            <option value="books.title ASC">Title (A-Z)</option>
            <option value="books.title DESC">Title (Z-A)</option>
          </select>
        </form>
      </div>
    </div>

    <% for (let entry of listOfEntries) { %>
      <%- include("partials/entry.ejs", { 
        entryDetails: entry, 
        // Conditionals:
        showDatePublished: true, 
        showButtons: true, 
        showForm: false, 
        showEditForm: false, 
        showPostForm: false 
      }) %> 
    <% } %>
  </div>
</main>

<%- include("partials/footer.ejs", { yearNow: year }) %>
