<%- include("partials/header.ejs") %>

<main>
  <div>
    <p>Number of books review in total: <%= bookCountTotal %></p>
    <p>Number of books read this year: <%= bookCountYear %></p>
  </div>

  <div class="entries-flex">
    <div><a href="/add-entry">Add New Entry</a></div>

    <div>
      <form action="/sort" method="POST">
        <label for="sortBy">Sort by:</label>
        <select name="sortBy" id="sortBy" onclick="submitIfOptionChosen(this)">
          <option value="" disabled selected>Select sorting</option>
          <option value="reviews.date_created DESC">Newest</option>
          <option value="reviews.date_created ASC">Oldest</option>
          <option value="books.title ASC">Title (A-Z)</option>
          <option value="books.title DESC">Title (Z-A)</option>
        </select>
      </form>
    </div>

    <% for (let entry of listOfEntries) { %>
    <!-- [x]: Make it usable not only on homepage, but in add & edit entry files -->
    <%- include("partials/entry.ejs", { entryDetails: entry, // Conditionals:
    showDatePublished: true, showButtons: true, showForm: false, showEditForm:
    false, showPostForm: false }) %> <% } %>
  </div>
</main>

<%- include("partials/footer.ejs") %>
