<%- include("partials/header.ejs") %>

<main>
  <div class="entries-flex">
    <div><a href="/add-entry">Add New Entry</a></div>

    
    <% for (let entry of Entries) { %>
    <div class="entry-grid">
      <img
        src="<%= entry.book_cover %>"
        alt="book cover for <%= entry.title %>"
      />
      <div class="entry-text-container">
        <div class="entry-title">
          <h3><a href="<%= entry.ol_link %>"><%= entry.title %></a></h3>
          <p>by <%= entry.author %></p>
        </div>
        <p>Rating: <%= entry.rating %> / 5</p>
        <p>Review: <%= entry.review %></p>
        <div class="entry-tidbits">
          <p>
            Date Created: <% const formattedDate = new
            Date(entry.date_created).toLocaleDateString(); %> <%= formattedDate
            %>
          </p>
          <div class="entry-tidbits-buttons">
            <a href="/edit/<%= entry.review_id %>">Edit</a>
            <form method="POST">
              <a
                href="/delete/<%= entry.review_id %>"
                onclick="return confirm('Are you sure you want to delete this entry?')"
                >Delete</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</main>

<%- include("partials/footer.ejs") %>
